{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Scottadiddy{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block stylesheet %}{% endblock %}
  </head>
  <body>
{% block body %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">

        <a class="navbar-brand" href="{% url 'home' %}">Scottadiddy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainMenu">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
<!--          TODO: add active if webpage is current {{active.apartments }} active.apartments = 'active'-->
        <a class="nav-link" href="{% url 'west:search' %}">Find Apartments <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'roomm:search' %}">Find Roomates</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'subl:search' %}">Sublease</a>
      </li>

      </ul>
{% if user.is_authenticated %}
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">

          <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ user.username }}
          </a>

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
            <a class="dropdown-item" href="#">Profile</a>
            <a class="dropdown-item" href="#">Favorites</a>

            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
          </div>
{% else %}
            <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">

          <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Who are you?
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
            <a class="dropdown-item" href="{% url 'login' %}">Login</a>
            <a class="dropdown-item" href="{% url 'register:register' %}">Sign Up</a>

          </div>
<!--             <form class="form ml-auto">-->
<!--          <a href="{%url 'login'%}" class="btn btn-outline-secondary">Log in</a>-->
<!--          <a href="{% url 'register:register' %}" class="btn btn-primary ml-2">Sign up</a>-->
<!--        </form>-->
{% endif %}
        </li>
        </ul>


    </div>

    </nav>

      {% block content %}
      {% endblock %}
    {% endblock body %}
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>